<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/smartwizard/dist/js/jquery.smartWizard.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="~/lib/datatable/js/datatable.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/smartwizard/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/smartwizard/dist/css/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/smartwizard/dist/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="~/lib/datatable/css/datatable.css" type="text/css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/nutritionLabel.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MacroNewt</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.Title == "Manage Meals" ? "active" : "")" asp-controller="Admin" asp-action="ManageMeals">Manage Meals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.Title == "Manage Users" ? "active" : "")" asp-controller="Admin" asp-action="ManageUsers">Manage Users</a>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.Title == "Log Meal" ? "active" : "")" asp-controller="Logger" asp-action="Index">Log Meal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.Title == "Explore Foods" ? "active" : "")" asp-controller="Meals" asp-action="Explore">Explore Foods</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.Title == "Meal History" ? "active" : "")" asp-controller="Meals" asp-action="Index">View Meal History</a>
                            </li>
                        }
                    </ul>
                    <div id="loggedInUserInfoContainer">
                        @await Component.InvokeAsync("LoggedInUserInfo")
                    </div>
                    

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="margin-top:70px">
        @RenderBody()
    </div>

    <div id="currentDayCalModalContainer">

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MacroNewt - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>   

    @RenderSection("Scripts", required: false)
</body>
</html>
