@model IEnumerable<MacroNewt.Models.Meal>

<div class="modal fade" id="calendarDaysMealsModal" role="dialog">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content" style="width:100%;">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="deleteSoftBack">
                        <div class="Box-header form-row justify-content-between">
                            <div class="blueTextColor">
                                Meals for this day
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" data-target="#calendarDaysMealsModal">
                                Close
                            </button>
                        </div>
                        <div>
                            @{ int i = 0;}
                            @foreach (Meal m in Model)
                            {
                                <dl class="form-row mealBlock">
                                    <dd class="col-12 text-center">
                                        <a class="btn btn-sm btn-myBlueDark" onclick="triggerSpinner()" asp-action="Edit" asp-route-id="@m.Id">Edit</a>
                                        <a class="btn btn-sm btn-myBlueDark" onclick="triggerSpinner()" asp-action="Details" asp-route-id="@m.Id">Details</a>
                                        <a class="btn btn-sm btn-myRed deleteMeal" onclick="triggerDelete()" href="#" data-itemID="@m.Id">Delete</a>
                                    </dd>
                                    <dt class="col-3" style="margin: 0px 0px 15px 10px">
                                        Title:
                                    </dt>
                                    <dd class="col-6">
                                        @m.Title
                                    </dd>
                                    <dt class="col-3" style="margin: 0px 0px 15px 10px">
                                        Date:
                                    </dt>
                                    <dd class="col-6" id="food_@i" data-tDate="@m.MealDate.Date">
                                        @m.MealDate
                                    </dd>
                                    <dt class="col-3" style="margin: 0px 0px 15px 10px">
                                        Calories:
                                    </dt>
                                    <dd class="col-3">
                                        @m.Calories
                                    </dd>
                                </dl>
                                { i++; }
                            }

                            <div id="thisDaysStats">
                            </div>

                            <div id="waitSpinnerContainer">

                                <div class="modal" id="waitSpinnerModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="text-center">
                                                    <strong class="modalTitle">Fetching results, please wait</strong>
                                                    <p class="modalMessage"></p>
                                                </div>
                                                <div class="text-center">
                                                    <div class="spinner-border text-primary" style="margin-top:15px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row justify-content-center" style="padding-bottom:10px;">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" data-target="#calendarDaysMealsModal">
                                    Close
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";

        var container = $('#thisDaysStats');

        var tDate = $('#food_0').attr("data-tDate");

        $.get(baseUrl + 'Meals/GetSpecificDayCalStats', { targetDate: tDate }, function (response) {
            container.html(response);
        });

        $('#calendarDaysMealsModal').modal({ backdrop: 'static', keyboard: false });
        $('#calendarDaysMealsModal').modal('toggle');

        $('#mealDetailsButton').click(function () {
            $('#waitSpinnerModal').modal('toggle');
            console.log("i did it");
        });
        
        var deleteMealButtons = document.querySelectorAll(".deleteMeal");

        for (var i = 0; i < deleteMealButtons.length; i++) {
            var btn = deleteMealButtons[i];

            btn.addEventListener('click', function () {
                deleteMeal(this.getAttribute('data-itemID'));
            });
        }
    });
</script>