@model BMRCalculatorViewModel

<div class="modal fade" id="bmrModal" role="dialog">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="standardSoftBack">
                        <div class="Box-header form-row justify-content-around">
                            <div class="blueDark">
                               BMR and Calorie Needs
                            </div>
                            <div>
                                <button type="button" id="closeBMRModalButton" class="btn btn-sm btn-secondary" data-dismiss="modal" data-target="#bmrModal">
                                    <span>Close</span>
                                </button>
                            </div>
                        </div>

                        <div id="BMRBannerContainer">

                        </div>
                        
                        <div class="standardModalContentPadding">
                            <div style="text-align:center; margin-top:10px; margin-bottom:10px;">
                                <h6 style="margin-bottom:-4px;">
                                    Basal Metabolic Rate (BMR) calculation
                                </h6>
                                <span class="BMRAsterisk">* based on Mifflin-St Jeor equation</span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <div>
                                        <span style="margin-left:30px;">(10 * </span>
                                        <label class="BMRStatFont">@Math.Round(Model.WeightKG)</label>
                                        <span>kg)</span>
                                    </div>
                                    <div>
                                        <span style="margin-left:15px;">+ (6.25 * </span>
                                        <label class="BMRStatFont">@Math.Round(Model.HeightCM)</label>
                                        <span>cm)</span>
                                    </div>
                                    <div>
                                        <span style="margin-left:19px;">- (5 * </span>
                                        <label class="BMRStatFont">@Model.Age</label>
                                        <span>y)</span>
                                    </div>
                                    <div>
                                        <span style="margin-left:15px;">+ (</span>
                                        <label class="BMRStatFont">@Model.S</label>
                                        <span> kcal/day) </span>
                                    </div>
                                    <div>
                                        <span style="margin-left:35px;">
                                            = BMR of
                                            <label class="BMRStatFont">@Math.Round(Model.BMR)</label>
                                            kcal/day
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center; margin-top:20px; margin-bottom:10px;">
                                <h6 style="margin-bottom:-4px;">
                                    Calorie needs to maintain weight
                                </h6>
                                <span class="BMRAsterisk">* based on Harris Benedict equation</span>
                            </div>
                            <div class="form-group">
                                <div>
                                    <div>
                                        <span>Sedentary <span class="BMRAsterisk">(little or no exercise)</span></span>
                                        <div class="d-flex justify-content-around">
                                            <span class="BMRStatFont">
                                                @Math.Round((Model.BMR * 1.2))
                                                <span> -------> </span>
                                                <button class="btn btn-sm btn-myBlue updateBMRBaseButton" id="updateBMRNone">Use as base</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <span>Lightly active <span class="BMRAsterisk">(light exercise/sports 1-3 days/week)</span></span>
                                        <div class="d-flex justify-content-around">
                                            <span class="BMRStatFont">
                                                @Math.Round((Model.BMR * 1.375))
                                                <span> -------> </span>
                                                <button class="btn btn-sm btn-myBlue updateBMRBaseButton" id="updateBMRLight">Use as base</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <span>Moderately active <span class="BMRAsterisk">(moderate 3-5 days/week)</span></span>
                                        <div class="d-flex justify-content-around">
                                            <span class="BMRStatFont">
                                                @Math.Round((Model.BMR * 1.55))
                                                <span> -------> </span>
                                                <button class="btn btn-sm btn-myBlue updateBMRBaseButton" id="updateBMRModerate">Use as base</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <span>Very active <span class="BMRAsterisk">(hard 6-7 days/week)</span></span>
                                        <div class="d-flex justify-content-around">
                                            <span class="BMRStatFont">
                                                @Math.Round((Model.BMR * 1.725))
                                                <span> -------> </span>
                                                <button class="btn btn-sm btn-myBlue updateBMRBaseButton" id="updateBMRHard">Use as base</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <span>Extra active <span class="BMRAsterisk">(very hard 6-7 days/week & physical job)</span></span>
                                        <div class="d-flex justify-content-around">
                                            <span class="BMRStatFont">
                                                @Math.Round((Model.BMR * 1.9))
                                                <span> -------> </span>
                                                <button class="btn btn-sm btn-myBlue updateBMRBaseButton" id="updateBMRVeryHard">Use as base</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#updateBMRNone').click(function () {
            updateCalorieTarget(@Math.Round((Model.BMR * 1.2)));
        });
        $('#updateBMRLight').click(function () {
            updateCalorieTarget(@Math.Round((Model.BMR * 1.375)));
        });
        $('#updateBMRModerate').click(function () {
            updateCalorieTarget(@Math.Round((Model.BMR * 1.55)));
        });
        $('#updateBMRHard').click(function () {
            updateCalorieTarget(@Math.Round((Model.BMR * 1.725)));
        });
        $('#updateBMRVeryHard').click(function () {
            updateCalorieTarget(@Math.Round((Model.BMR * 1.9)));
        });

        
        $('#bmrModal').modal('toggle');

        document.getElementById('closeBMRModalButton').addEventListener('click', function () {
            $('#showBMRModal').text('Show BMR');

            $('#BMRBannerContainer').empty();

            $('#showBMRModal').off('click', getBMRModal);

            $('#showBMRModal').prop('id', "reshowBMRModal");
            
            document.getElementById('reshowBMRModal').addEventListener('click', function () {
                $('#bmrModal').modal('toggle');
            });
        });
    });

    function updateCalorieTarget(target) {
        $.post('Home/UpdateCalorieTarget', { calTarget: target }, function (data) {
            $('#BMRBannerContainer').empty().append("<div class='updateAlert'><span>Target Updated</span></div > ");

            var currentBase = target;
            var targetVal = $('#hiddenTargetVal').val();
            var currentRecTarget = parseInt(currentBase) + parseInt(targetVal);
            $('#calTargetPicker').val(target);
            $('#recommendedTargetGoalLabel').text(currentRecTarget);
            $('#currentAdjustedTotalLabel').text(currentRecTarget);

            refreshUserInfo();

        }).fail(function () {
            console.log("error");
        });
    }
</script>