@model FiTrack.Models.ViewModels.FoodViewModel;


<h2>Logger</h2>

<br>

    <!-- The Modal -->
    <div id="removeModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" id="modal-content">
            <div id="currentFoods" class="foodRadios">
            </div>
            <button id="confirmRemove" class="removeButton">Remove</button>
            <span class="close">&times;</span>
        </div>
    </div>


    <form asp-controller="Logger" asp-action="SearchFoods">
        <p>
            Search for food: <input type="text" name="foodName" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="container">
        <div class="fixed">

            <p>Select a food to add it to your meal</p>

            <input type="button" id="gfs" onclick="getFoodSelection()" value="Add food">

            @foreach (var item in Model.Foods)
            {
                <div>
                    <label class="queryLabels" for="@item.Name">
                        <input type="radio" id="@item.Name" name="foods" value="@item.Name" data-val="@item.Ndbno" />
                        @item.Name | @item.Ndbno
                    </label>
                </div>
            }



        </div>
        <div class="flex-item">
            <div id="userList">
                <ul id="selectedFoods"></ul>
            </div>
            <button id="removeSelection">Remove Food</button>

            <form method="post" id="wtHECK" asp-controller="Meals" asp-action="FoodNutrientViewModel" >
                <input type="submit" id="jsonData" value="stupid" />
                <input type="hidden" name="formData" value="blank" id="theJSONstuff" />
            </form>

            
            
        </div>
        
    </div>
