@model HistoryDataViewModel

<div class="col-12 col-md-10 col-lg-8" style="margin:auto; padding:0px;">
    <div class="mealHistory">
        <div class="Box-header d-flex justify-content-between">
            <div>
                <p class="summaryHeader">Logged Meals</p>
            </div>
            <div>
                @if (Model.StartDate == Model.EndDate)
                {
                    <p class="historyDatesHeader">@Model.StartDate.ToString("MM-dd-yyyy")</p>
                }
                else
                {
                    <p class="historyDatesHeader">@Model.StartDate.ToString("MM-dd-yyyy") - @Model.EndDate.ToString("MM-dd-yyyy")</p>
                }

            </div>
            <div>
                <button id="reshowFullHistory" class="btn btn-sm btn-myBlueDark" style="float:right; min-width:60%;">Show Full History</button>
            </div>
        </div>

        <div class="mealHistoryBox">
            <table class="table" style="margin-bottom:0px;">
                @if (Model.Meals.Count == 0)
                {
                    <thead align="center">
                        <tr>
                            <th>No meals on selected day</th>
                        </tr>
                    </thead>
                }
                else
                {
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                MealDate
                            </th>
                            <th>
                                Calories
                            </th>
                            <th>
                                Actions
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Meals)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MealDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Calories)
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-myBlueDark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-sm btn-myBlueDark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-sm btn-myRed deleteMeal" href="#" data-itemID="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var reshowHistoryButton = document.querySelector("#reshowFullHistory");

        reshowHistoryButton.addEventListener('click', reshowHistory, false);

        var deleteMealButtons = document.querySelectorAll(".deleteMeal");

        for (var i = 0; i < deleteMealButtons.length; i++) {
            var btn = deleteMealButtons[i];

            btn.addEventListener('click', function () {
                deleteMeal(this.getAttribute('data-itemID'));
            });
        }
    });

    function reshowHistory() {
        $('#customHistoryContainer').empty();
        document.getElementById("fullHistoryBox").style.display = "block";
    }
</script>