@model MacroNewt.Models.Meal

<div class="modal fade" id="deleteMealModal" role="dialog">
    <div class="modal-dialog vertical-align-center">
        <div class="modal-content" style="width:100%;">

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="deleteSoftBack">
                        <div class="Box-header form-row justify-content-around">
                            <div class="blueTextColor col-12" style="text-align:center;">
                                Delete this meal?
                            </div>
                        </div>
                        <div>
                            <dl class="form-row">
                                @if (User.IsInRole("Admin"))
                                {
                                    <dt class="col-4" style="margin: 15px 0px 15px 10px">
                                        @Html.DisplayNameFor(model => model.UserEmail):
                                    </dt>
                                    <dd class="col-7" style="margin-top:15px;">
                                        @Html.DisplayFor(model => model.UserEmail)
                                    </dd>
                                }
                                <dt class="col-4" style="margin: 0px 0px 15px 10px">
                                    @Html.DisplayNameFor(model => model.Title):
                                </dt>
                                <dd class="col-7">
                                    @Html.DisplayFor(model => model.Title)
                                </dd>
                                <dt class="col-4" style="margin: 0px 0px 15px 10px">
                                    @Html.DisplayNameFor(model => model.MealDate):
                                </dt>
                                <dd class="col-7">
                                    @Html.DisplayFor(model => model.MealDate)
                                </dd>
                                <dt class="col-4" style="margin: 0px 0px 15px 10px">
                                    @Html.DisplayNameFor(model => model.Calories):
                                </dt>
                                <dd class="col-7">
                                    @Html.DisplayFor(model => model.Calories)
                                </dd>
                            </dl>
                        </div>
                        <div class="form-row justify-content-around" style="margin-bottom:10px;">
                            <div class="col-6">

                            </div>
                            <div class="col-2" style="margin-right:8px;">
                                <button type="button" onclick="showPreviousModal()" class="btn btn-secondary" style="line-height:18px;">
                                    <span>Cancel</span>
                                </button>
                            </div>
                            <div class="col-3">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" style="line-height:18px;" value="Delete" class="btn btn-danger" />
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#waitSpinnerModal').modal('hide');
        //$('#calendarDaysMealsModal').modal('hide');
        //$('#deleteMealModal').modal({ backdrop: 'static', keyboard: false });
        $('#deleteMealModal').modal('show');
    });

    function showPreviousModal() {

        $('#deleteMealModal').modal('hide');
        $('#calendarDaysMealsModal').modal('toggle');

        //if ($('#calHistoryTab').hasClass("active")) {
        //    console.log("guess length blah blah");
        //    $('#deleteMealModal').modal('hide');
        //    $('#calendarDaysMealsModal').modal('toggle');
        //}
        //else {
        //    //$('#deleteMealModal').data('modal', null);
        //    $('#deleteMealModal').modal('hide');
        //    console.log("I'm HEEEEEEEEEEEEEEEEEERE");
        //}
    }
</script>